[submodule "twitter-rollup"]
	path = twitter-rollup
	url = git@github.com:nozzlegear/twitter-rollup
[submodule "sci-tally-tool"]
	path = sci-tally-tool
	url = git@github.com:nozzlegear/sci-tally-tool.git
[submodule "reddit-rollup"]
	path = reddit-rollup
	url = git@github.com:nozzlegear/reddit-rollup
[submodule "artist-tally-tool"]
	path = artist-tally-tool
	url = git@github.com:nozzlegear/artist-tally-tool
[submodule "stages-tally-tool"]
	path = stages-tally-tool
	url = git@github.com:nozzlegear/stages-tally-tool.git
